@font-face {
  font-family: "iconfont"; /* Project id 4843430 */
  src: url('iconfont.woff2?t=1740901572725') format('woff2'),
       url('iconfont.woff?t=1740901572725') format('woff'),
       url('iconfont.ttf?t=1740901572725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e628";
}

.icon-email:before {
  content: "\e856";
}

